<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../Content/Site.css" rel="stylesheet">
    <title>Space Store</title>
</head>
<body>

<div class="jumbotron" style="padding-left: 100px;">
    <h1>Space Store</h1>
    <p class="lead">We are the leading store for anything extraterrestrial. We sell everything from the Andromeda galaxy to the Zubeneschamali star.</p>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        @RenderBody()
    </div>
    <div class="col-md-2"></div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>